{% extends "maps/_base.html" %}
{% block title %}
    Maps
{% endblock title %}
{% block content %}
    <div class="mb-4">
        <input type="text" class="form-control form-control-lg" placeholder="Search for something...">
    </div>
    <div class="row g-2">
        <div class="col-lg-4 order-2 order-lg-1">
            <div class="list-group list-group-numbered"
                 style="height:80vh;
                        overflow-y: scroll">
                {% for object in object_list %}
                    <a href="#"
                       class="list-group-item list-group-item-action d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                            <h6 class="text-light">{{ object.name }}</h6>
                            <span class="d-block mb-2">{{ object.address }}</span>
                            <ul class="mb-1">
                                {% for hrs in object.opening_hours %}<li>{{ hrs }}</li>{% endfor %}
                            </ul>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-8 order-1 order-lg-2">
            <div id="map" style="height:80vh;" class="bg-secondary"></div>
        </div>
    </div>
{% endblock content %}
